body{
  font-family: 'Graphik', sans-serif;
}

#navbar-custom{
  background-color: #101019;
  height: 100px;
  display: flex;
  align-items: center;
}

.navbar-tm{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 100px;
}
#navbar-color{
  color: #295772;
  font-size: 2rem;
}

.degradado{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,202,244,1) 0%, rgba(54,54,189,1) 100%);
  border-radius: 20px;
  color: #fff
}